@model IEnumerable<WebsiteMovies.Models.AdditionalDTO.MovieInfo>
@{
    ViewBag.Title = "Phim bạn đang theo dõi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" href="~/Assets/css/customer-follow.css">
    <style>
        .text-red {
            color: #bd2727;
        }
    </style>
}

<div class="section-title my-2">
    <div class="title bg-black color-gray">
        Phim bạn theo dõi
    </div>
</div>
@if (Model.Count() == 0)
{
    <div class="section-content text-center p-3 bg-black">
        <span class="text-red">Bạn chưa theo dõi bộ nào</span>
    </div>
}
else
{
<div class="movie-list section-content d-flex flex-wrap my-2 p-2">
    @foreach (var item in Model)
    {
        <div id="follow_@item.movie.id" class="movie-item">
            <button onclick="Unfollow(@item.movie.id)" class="btn-unfollow">X</button>
            <a href="@Url.Action("MovieDetail", "Movies", new { id = item.movie.id })" title="@item.movie.name">
                <div class="episode-latest fw-bold"> @item.movie.Episode.Count/@(item.movie.duration!=null ? item.movie.duration.ToString() : "??") </div>
                <div class="image" style="background-image: url('/Assets/Images/MovieImages/@item.movie.image');"></div>
                <div class="score fw-bold"> @item.score.ToString("N1") </div>
                <div class="movie-name fw-bold"> @item.movie.name </div>
            </a>
        </div>
    }
</div>
    @Html.Action("Pagination", "Home", new { sendAction = ViewContext.RouteData.Values["action"], ViewBag.lastPage, ViewBag.currentPage })
}

@section scripts{
    <script>
        function Unfollow(idMovie) {
            $.ajax({
                url: '@Url.Action("FollowMovie", "Movies")',
                type: "POST",
                data: JSON.stringify({ id: idMovie }),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: (result) => {
                    document.querySelector("#follow_" + idMovie).remove();
                    alert(result);
                },
                error: (err) => {
                    alert("Lỗi: " + err.responseText);
                }
            })
        }
    </script>
}
