@model IEnumerable<WebsiteMovies.Models.Movie>

@{
    ViewBag.Title = "Trang chủ";
}

@section styles{
    <link rel="stylesheet" href="~/Assets/css/customer-home.css">
    <link rel="stylesheet" href="~/Assets/css/partial-movie-list.css" />
}

<div class="section-title my-2">
    <div class="title bg-black color-gray">
        Phim đề cử
    </div>
</div>
<div class="section-content my-2 p-2">
    <div id="slider" class="slider overflow-hidden">
        <div class="slider-outer">
            @foreach(var item in Model)
            {
                <div class="slider-item me-2">
                    <a href="@Url.Action("MovieDetail", "Movies", new { id = item.id })" title="@item.name">
                        <div class="episode-latest fw-bold"> @item.Episode.Count/@(item.duration!=null ? item.duration.ToString() : "??") </div>
                        <div class="image" style="background-image: url('/Assets/Images/MovieImages/@item.image');"></div>
                        <div class="movie-name fw-bold"> @item.name </div>
                    </a>
                </div>
            }
        </div>
        <button class="btn-left">
            <i class="fas fa-angle-left"></i>
        </button>
        <button class="btn-right">
            <i class="fas fa-angle-right"></i>
        </button>
    </div>
</div>
<!-- movie slider script -->
<script src="~/Assets/js/home-movie-slider.js"></script>
<script>
    const slider = document.querySelector('#slider');
    InitSlider(slider, 3000)
</script>
<div class="section-title my-2">
    <div class="title bg-black color-gray">
        Mới cập nhật
    </div>
</div>
@Html.Action("RenderListMovie", "Movies", new { ViewBag.listMovie, sendAction = ViewContext.RouteData.Values["action"], ViewBag.totalMovieInPage })
