@model WebsiteMovies.Models.Account

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/Assets/css/AccountInfo.css" />
}

<div class="heading_user">
    <h3>Hello <span class="color-gray">@Model.displayName</span></h3>
</div>
<div class="account_frame">
    
@Html.Partial("_menuProfile")
    <div class="account_info">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "account_form" }))
        {
            <div class="top_user_profile">
                <div class="user_image">
                    <img src="~/Assets/Images/AccountImages/@(Model.image ?? "default-account-image.jpg")" class="" alt="Alternate Text" />
                </div>
                <input type="file" class="my-3" />
                <div class="change_avatar">Thay Avatar</div>
            </div>
            <div class="bottom_user_profile">
                <label for="displayName">Biệt danh</label>
                <input type="text" name="displayName" id="displayName" class="text-white" value="@Model.displayName" />
                <label for="userName">Tài khoản</label>
                <input type="text" name="userName" id="userName" disabled="disabled" value="@Model.userName" />
                <label for="email">Email</label>
                <input type="text" name="email" id="email" disabled="disabled" value="@Model.email" />
                <input type="submit" name="name" class="submit_form" value="Xác nhận" />
            </div>
        }
    </div>
</div>

