@model WebsiteMovies.Models.Episode

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section styles{
    <style>
        .video-player{
            width: 50%;
        }
    </style>
}

<div>
    <h4>Chi tiết tập phim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Movie.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.episodeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.episodeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.episodeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.episodeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.video)
        </dt>

        <dd>
            <video class="video-player" controls>
                <source src="~/Assets/Videos/@Model.video" type="video/mp4" />
            </video>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.id, Model.movieId }) |
    @Html.ActionLink("Trở về", "Index", new { idMovie = Model.movieId })
</p>
