@model IEnumerable<WebsiteMovies.Models.Category>

@{
    ViewBag.Title = "Quản lý thể loại phim";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Quản lý thể loại phim</li>
</ol>

<p>
    <a class="btn btn-primary" href="@Url.Action("Create")">
        <i class="fas fa-plus"></i> Thêm thể loại
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>Chức năng</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-details" href="@Url.Action("Details", new { id = item.id })">
                        <i class="fas fa-eye"></i> Chi tiết
                    </a>
                    <a class="btn btn-primary" href="@Url.Action("Edit", new { id = item.id })">
                        <i class="fas fa-pen"></i> Sửa
                    </a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.id })">
                        <i class="fas fa-trash"></i> Xóa
                    </a>
                </div>
            </td>
        </tr>
    }

</table>
